html {
  box-sizing: border-box;
}

body {
  background-color: #ccc;
}

/*
#gallery {
  list-style: none;
  display: flex;
  justify-content: space-between; 
  border: 10px groove rgb(6, 193, 250);
  border-radius: 10px;
  padding: 0;
  margin: 0;
} 
*/

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
